/*!
 * M-SALT API client
 *
 * @author Marcello Perathoner
 */

@import "custom";
@import "fontawesome-all.css";
@import "siddhanta.css";

html {
    position: relative;
    min-height: 100%;
}

body {
    overflow-y: scroll;
}

div.left-col, article.center-col, div.right-col {
    margin: 1em 0;
}

.salt-navbar-rest {
    .prefs-dropdown {
        .dictionary-list {
            ul {
                list-style-type: none;
                margin-top: 1rem;
                margin-bottom: 0;
                padding: 0;
                label {
                    white-space: nowrap;
                }
                .custom-checkbox.api-danger .custom-control-input:checked ~ .custom-control-label::before {
                    background-color: var(--danger);
                }
                .custom-checkbox.api-success .custom-control-input:checked ~ .custom-control-label::before {
                    background-color: var(--success);
                }
            }
        }
    }
}

article.article {
    div.canonical_url {
        margin: 1em 0;
    }
}

.search-form {
    max-width: 80%;
    #search {
        background: white;
        transition: background 0.5s linear;
    }
}

[data-script='x-deva'] {
    font-family: siddhanta;
}
[data-script]:not([data-script='x-deva']) {
    font-family: var(--font-family-sans-serif);
}

.q_in_deva {
    font-size: x-large;
}

.font-size-xxl {
    font-size: 800%;
}

@media (-moz-touch-enabled: 1), (pointer: coarse) {
    // hide tooltips on touch devices
    .tooltip {
        display: none !important;
    }
}
