@import "custom";
@import "fontawesome-all.css";

@font-face {
  font-family: 'siddhanta';
  src: url('../webfonts/siddhanta.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    overflow-y: scroll;
}

div.left-col, article.center-col, div.right-col {
    margin: 1em 0;
}

.salt-navbar-rest {
    .prefs-dropdown {
        .dictionary-list {
            ul {
                list-style-type: none;
                margin-top: 1rem;
                margin-bottom: 0;
                padding: 0;
                label {
                    white-space: nowrap;
                }
            }
        }
    }
}

article.article {
    div.article-lang-dropdown {
        float: left;
        margin-right: 1em;
    }
    div.canonical_url {
        margin: 1em 0;
    }
}

.search-form {
    max-width: 80%;
    #search {
        background: white;
        transition: background 0.5s linear;
    }
}

[data-script='deva'] {
    font-family: siddhanta;
}

.q_in_deva {
    font-size: x-large;
}
