@import "custom";
@import "fontawesome-all.css";

@font-face {
  font-family: 'siddhanta';
  src: url('../webfonts/siddhanta.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    overflow-y: scroll;
}

div.left-col, article.center-col, div.right-col {
    margin: 1em 0;
}

.salt-navbar-rest {
    position: relative;
    .prefs-dropdown {
        position: static;
        .dropdown-menu-right {
            left: auto;
            right: 0;
        }
        .dictionary-list {
            ul {
                list-style-type: none;
                margin-top: 1rem;
                padding: 0;
            }
        }
    }
}

div.results {
    margin-top: 1em;
}

article.article {
    div.article-lang-dropdown {
        float: left;
        margin-right: 1em;
    }
    div.canonical_url {
        margin: 1em 0;
    }
}

#search {
    background: white;
    transition: background 0.5s linear;
}

[data-script='deva'] {
    font-family: siddhanta;
}

div.q_in_deva {
    font-size: x-large;
}
